<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" class="g_html">

<head>
<title><%=title %></title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta name="renderer" content="webkit">


<link type="text/css" href="/css/base.min.css" rel="stylesheet" />
<link type="text/css" href="/css/492.min.css" rel="stylesheet" id="templateFrame"  class="templateFrameClass"/>


<link type="text/css" href="/css/pattern4.min.css" rel="stylesheet">
		

<meta name="keywords" content=""/>
<meta name="description" content=""/>


<style id='stylemodule'>
</style>
<style id='styleHeaderTop' type='text/css'>
</style>
<style id='stylefooter' type='text/css'>
</style>
<style id='styleWebSite' type='text/css'>
</style>
<style id='stylenav' type='text/css'>
#nav .navContent .navLeft {display:table-cell;*display:block;}
#nav .navContent .navLeft {width:130px;}
</style>


</head>

<body class="g_body g_locale2052 " >


	<div id="g_main" class='g_main g_col102 ' style='0' >
	<div id="web" class="g_web ">
		<table class="webTopTable" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center">
					<div id="webTop" class="webTop">
						  
	<div id="corpTitle" class="corpTitle corpTitle2" fontPatternTitle="true" style="top:35px;left:31px;" _href="">
		<div id="primaryTitle" style="color: #ffffff;pointer-events:none;"><%=title %></div>
		<div id="subTitle" style="font-size:40px;"></div>
	</div>

					</div>
				</td>
			</tr>
		</table>

		<table class="absTopTable" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center">
					<div id="absTopForms" class="forms sideForms absForms">
						<div style="position:absolute;"></div><!-- for ie6 -->
						
					</div>
				</td>
			</tr>
		</table>
		<table class="webNavTable" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center">
					<div id="webNav" class="webNav webNavDefault">
						
					</div>
				</td>
			</tr>
		</table>
		<table class="webHeaderTable" cellpadding="0" cellspacing="0" id="webHeaderTable">
			<tr>
				<td align="center" class="webHeaderTd">
					<div id="webHeader" class="webHeader">
						<table class='headerTable' cellpadding='0' cellspacing='0'>
							<tr>
								<td class='headerCusLeft'></td>
								<td class='headerCusMiddle' align='center' valign='top'>
									<div class='headerNav'>
								<div id='nav' class='nav nav2'>
<div class='navMainContent'><table class='navTop' cellpadding='0' cellspacing='0'><tr><td class='navTopLeft'></td><td class='navTopCenter'></td><td class='navTopRight'></td></tr></table>
<table class='navContent' cellpadding='0' cellspacing='0'>
<tr>
<td class='navLeft'></td>
<td class='navCenterContent' id='navCenterContent' valign='top' align='left'>
<div id='navCenter' class='navCenter' style='width:480px;'>
<div class='itemPrev'></div>
<div class='itemContainer'>
<table class='item itemCol2 itemIndex1' cellpadding='0' cellspacing='0' colId='2' id='nav2' onclick='document.location.href="/index"'  _jump='document.location.href="/index"' >
<tr>
<td class='itemLeft'></td>
<td class='itemCenter'><a hidefocus='true' style='outline:none;' href='/index' onclick='return false;'><span class='itemName0'>首页</span></a></td>
<td class='itemRight'></td>
</tr>
</table>
<div class='itemSep'></div><table class='item itemCol21 itemIndex2' cellpadding='0' cellspacing='0' colId='21' id='nav21' onclick='document.location.href="/nr"'  _jump='document.location.href="/nr"' >
<tr>
<td class='itemLeft'></td>
<td class='itemCenter'><a hidefocus='true' style='outline:none;' href='/nr' onclick='return false;'><span class='itemName0'>新闻动态</span></a></td>
<td class='itemRight'></td>
</tr>
</table>
<div class='itemSep'></div><table class='item itemCol102 itemIndex3' cellpadding='0' cellspacing='0' colId='102' id='nav102' onclick='document.location.href="/contact"'  _jump='document.location.href="/contract"' >
<tr>
<td class='itemLeft'></td>
<td class='itemCenter'><a hidefocus='true' style='outline:none;' href='/aboutus' onclick='return false;'><span class='itemName0'>联系我们</span></a></td>
<td class='itemRight'></td>
</tr>
</table>
<div class='itemSep'></div><table class='item itemCol101 itemIndex4' cellpadding='0' cellspacing='0' colId='101' id='nav101' onclick='document.location.href="/aboutus"'  _jump='document.location.href="/aboutus"' >
<tr>
<td class='itemLeft'></td>
<td class='itemCenter'><a hidefocus='true' style='outline:none;' href='/contact' onclick='return false;'><span class='itemName0'>关于我们</span></a></td>
<td class='itemRight'></td>
</tr>
</table>
<div class='itemSep'></div><table class='item itemCol9 itemIndex5' cellpadding='0' cellspacing='0' colId='9' id='nav9' onclick='document.location.href="/msgBoard"'  _jump='document.location.href="/msgBoard"' >
<tr>
<td class='itemLeft'></td>
<td class='itemCenter'><a hidefocus='true' style='outline:none;' href='/msgBoard' onclick='return false;'><span class='itemName0'>留言板</span></a></td>
<td class='itemRight'></td>
</tr>
</table>
</div>
<div class='itemNext'></div>
</div>
</td>
<td class='navRight'></td>
</tr>
</table>
<table class='navBottom' cellpadding='0' cellspacing='0'><tr><td class='navBottomLeft'></td><td class='navBottomCenter'></td><td class='navBottomRight'></td></tr></table>
</div>
</div>

									</div>
								</td>
								<td class='headerCusRight'></td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>

		<table class="webBannerTable" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center">
					<div id="webBanner" class="webBanner">
						<table class="bannerTable" cellpadding="0" cellspacing="0">
							<tr>
								<td class="bannerLeft"></td>
								<td class="bannerCenter" align='center' valign='top'>
									<div class='bannerTop'></div>
<div id='banner' class='banner' style=''  normalheight='-1'></div>

									
								</td>
								<td class="bannerRight"></td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>

		<table class="absMiddleTable" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center">
					<div id="absForms" class="forms sideForms absForms">
						
					</div>
				</td>
			</tr>
		</table>

		<table class="webContainerTable" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center">
					<div id="webContainer" class="webContainer">
						<div id="container" class="container">
	<table class="containerTop" cellpadding='0' cellspacing='0'>
		<tr valign='top'>
			<td class="left"></td>
			<td class="center"></td>
			<td class="right"></td>
		</tr>
	</table>

	<table class="containerMiddle" cellpadding='0' cellspacing='0'>
		<tr valign='top'>
			<td id="containerMiddleLeft" class="containerMiddleLeft">
					
					
					
					
			</td>

			<td class="containerMiddleCenter">
				<div id="containerMiddleCenterTop" class="containerMiddleCenterTop">
					
				</div>

				<div id="containerForms" class="containerForms">
					<div id="topForms" class="column forms mainForms topForms" style='display:none'>
						
					</div>

					<table class="containerFormsMiddle" cellpadding='0' cellspacing='0'>
						<tr>
							<td valign="top" id="containerFormsLeft" class="containerFormsLeft" >
								<div class="containerFormsLeftTop">
								</div>
								<div id="leftForms" class="column forms sideForms leftForms">
									<div id='module333' _indexClass='formIndex1' class='form form333 formIndex1 formStyle40' title='' style='' _side='0' _inTab='0' _inMulMCol='0' _autoHeight='1' _global='true' _independent='false' >
<table class='formTop formTop333' cellpadding='0' cellspacing='0'><tr><td class='left'></td><td class='center'></td><td class='right'></td></tr></table>
<table class='formBanner formBanner333' cellpadding='0' cellspacing='0'><tr>
<td class='left left333'></td>
<td class='center center333' valign='top'>
<table cellpadding='0' cellspacing='0' class='formBannerTitle formBannerTitle333'><tr>
<td class='titleLeft titleLeft333' valign='top'>
</td>
<td class='titleCenter titleCenter333' valign='top'>
<div class='titleText titleText333'><span>
在线客服</span></div>
</td>
<td class='titleRight titleRight333' valign='top'>
</td>
</tr></table>
</td>
<td class='right right333'></td>
</tr></table>
<table class='formMiddle formMiddle333' cellpadding='0' cellspacing='0'><tr>
<td class='formMiddleLeft formMiddleLeft333'></td>
<td class='formMiddleCenter formMiddleCenter333' valign='top'>
<div class='formMiddleContent formMiddleContent333  '>
<div id='serOnline-container333' class='serOnline-container'><div class='serOnline-service'><div class='serOnline-list-v lineH-21 '><a hidefocus='true' href='http://wpa.qq.com/msgrd?v=3&uin=158481900&site=qq&menu=yes' target='_blank'><span class='serOnline-img qqImg' >&nbsp;</span>毕经理</a></div><div class='serOnline-list-v lineH-21 lastData'><a hidefocus='true' href='http://wpa.qq.com/msgrd?v=3&uin=442136713&site=qq&menu=yes' target='_blank'><span class='serOnline-img qqImg' >&nbsp;</span>雷经理</a></div></div><div class='serOnline-separation-line g_separator'></div><div class='serOnline-worktime'><div class='marBL-10'><span class='worktime-header-img'>&nbsp;</span><span style='font-size:15px;'><b>工作时间</b></span></div><div class='serOnline-list-v '><span>周一至周五 ：8:30-17:30</span></div><div class='serOnline-list-v lastData'><span>周六至周日 ：9:00-17:00</span></div></div><div class='serOnline-separation-line g_separator'></div><div class='serOnline-contact'><div class='marBL-10'><span class='contact-header-img'>&nbsp;</span><span style='font-size:15px;'><b>联系方式</b></span></div><div class='serOnline-list-v'><span>毕经理：13088882464</span></div></div></div></div>
</td><td class='formMiddleRight formMiddleRight333'></td>
</tr></table>
<table class='formBottom formBottom333' cellpadding='0' cellspacing='0'><tr><td class='left left333'></td><td class='center center333'></td><td class='right right333'></td></tr></table>
<div class='clearfloat clearfloat333'></div>
</div>


								</div>
								<div class="containerFormsLeftBottom">
								</div>
							</td>

							<td valign="top" id="containerFormsCenter" class="containerFormsCenter">
					
								<div id="centerTopForms" class="column forms mainForms centerTopForms" >
									<div id='module323' _indexClass='formIndex1' class='form form323 formIndex1 formStyle18 modulePattern modulePattern73' title='' style='' _side='0' _inTab='0' _inMulMCol='0' _autoHeight='1' _global='false' _independent='false' >
<table class='formTop formTop323' cellpadding='0' cellspacing='0'><tr><td class='left'></td><td class='center'></td><td class='right'></td></tr></table>
<table class='formBanner formBanner323' cellpadding='0' cellspacing='0'><tr>
<td class='left left323'></td>
<td class='center center323' valign='top'>
<table cellpadding='0' cellspacing='0' class='formBannerTitle formBannerTitle323'><tr>
<td class='titleLeft titleLeft323' valign='top'>
</td>
<td class='titleCenter titleCenter323' valign='top'>
<div class='titleText titleText323'><span>
联系我们</span></div>
</td>
<td class='titleRight titleRight323' valign='top'>
</td>
</tr></table>
</td>
<td class='right right323'></td>
</tr></table>
<table class='formMiddle formMiddle323' cellpadding='0' cellspacing='0'><tr>
<td class='formMiddleLeft formMiddleLeft323'></td>
<td class='formMiddleCenter formMiddleCenter323' valign='top'>
<div class='formMiddleContent formMiddleContent323  '>
    <div class='textImg2'><img alt='js' title='js' src='/image/gywm.png'  style='width:240px;height:118px;'></div><div class='richContent richContent2'><p>&nbsp;</p>
    <p style="line-height:1.75em;">
        <span style="font-family:微软雅黑, &#39;microsoft yahei&#39;;"> &nbsp; &nbsp;&nbsp; &nbsp;深圳市支点启航软件研发工作室位于深圳市福田区，是在高新技术应用领域中专业从事应用系统开发、信息安全服务的高新技术企业。点航长期专注于物业管理、房地产、市政运营管理等相关行业信息化领域，凭借多年在应用系统开发以及信息安全服务的积累的经验，点航软件已经成为该领域内著名的应用系统解决方案提供商。</span>
    </p>
    <p style="line-height:1.75em;">
        <span style="font-family:微软雅黑, &#39;microsoft yahei&#39;;">&nbsp; &nbsp;点航软件倡导“专业、务实、高效、创新”的企业精神，具有良好的内部机制。优良的工作环境以及良好的激励机制，吸引了一批年轻的、有学识的、具有实干精神的人才。高素质、高水平、高效率的人才是尊蓝信息在当今激烈的市场中立于不败之地的保障。</span>
    </p>
    <p style="line-height:1.75em;">
        <span style="font-family:微软雅黑, &#39;microsoft yahei&#39;;"> &nbsp; &nbsp; 我们可以提供：</span>
    </p>
    <p style="line-height:1.75em;">
        <span style="font-family:微软雅黑, &#39;microsoft yahei&#39;;"> &nbsp; &nbsp; ——安全、完整的系统策划和设计：</span>
    </p>
    <p style="line-height:1.75em;">
        <span style="font-family:微软雅黑, &#39;microsoft yahei&#39;;"> &nbsp; &nbsp; 公司在产品研发方面的高投入，众多项目的实际应用，让我们具备了相应的的创造力和丰富的经验，这将成为您解决疑问和难题的良好保证。可为您提供多方面完善的策划：如项目的规划立项、总体方案设计、方案评估论证。</span>
    </p>
    <p style="line-height:1.75em;">
        <span style="font-family:微软雅黑, &#39;microsoft yahei&#39;;"> &nbsp; &nbsp; ——先进、专业的技术支持：</span>
    </p>
    <p style="line-height:1.75em;">
        <span style="font-family:微软雅黑, &#39;microsoft yahei&#39;;"> &nbsp; &nbsp; 公司众多一流人才的深层磨合，对最新技术执拗的探讨精神，使我们能够保证为你提供最专业的应用，最专业的服务。</span>
    </p>
    <p style="line-height:1.75em;">
        <span style="font-family:微软雅黑, &#39;microsoft yahei&#39;;"> &nbsp; &nbsp; ——完善、快速的售后服务：</span>
    </p>
    <p style="line-height:1.75em;">
        <span style="font-family:微软雅黑, &#39;microsoft yahei&#39;;"> &nbsp; &nbsp;以最快的速度、最有效的方法、最先进的技术保障系统的效果发挥到极至，解除您的后顾之忧。</span>
    </p>
    <p><br /></p></div></div>
</td>
<td class='formMiddleRight formMiddleRight323'></td>
</tr></table>
<table class='formBottom formBottom323' cellpadding='0' cellspacing='0'><tr><td class='left left323'></td><td class='center center323'></td><td class='right right323'></td></tr></table>
<div class='clearfloat clearfloat323'></div>
</div>


								</div>
								<div class="containerFormsCenterMiddle">
									<div id="middleLeftForms" class="column forms mainForms middleLeftForms" style='display:none'
										
									>
									
									</div>
									<div id="middleRightForms" class="column forms mainForms middleRightForms" style='display:none'
										
									>
									
									</div>	
								</div>
								<div id="centerBottomForms" class="column forms mainForms centerBottomForms" style='display:none'>
									
								</div>
							</td>

							<td valign="top" id="containerFormsRight" class="containerFormsRight" style='display:none'>
								<div class="containerFormsRightTop">
								</div>
								<div id="rightForms" class="column forms sideForms rightForms">
									
								</div>
								<div class="containerFormsRightBottom">
								</div>
							</td>
						</tr>
					</table>

					<div id="bottomForms" class="column forms mainForms bottomForms" style='display:none'>
						
					</div>

					<div id="containerPlaceholder" class="containerPlaceholder" ></div>
					
				</div>

				<div id="containerMiddleCenterBottom" class="containerMiddleCenterBottom">
				</div>

			</td>

			<td id="containerMiddleRight" class="containerMiddleRight"></td>
		</tr>
	</table>
	
	<table class="containerBottom" cellpadding='0' cellspacing='0'>
		<tr valign='top'>
			<td class="left"></td>
			<td class="center"></td>
			<td class="right"></td>
		</tr>
	</table>
</div>

					</div>
				</td>
			</tr>
		</table>		

		<table class="absBottomTable" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center">
					<div id="absBottomForms" class="forms sideForms absForms">
						<div style="position:absolute;"></div><!-- for ie6 -->
						
					</div>
				</td>
			</tr>
		</table>

		<table id="webFooterTable" class="webFooterTable" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center" valign="top">
					<div id="webFooter" class="webFooter">
						



<div id="footer" class="footer" >
	<table class="footerTop" cellpadding="0" cellspacing="0">
		<tr valign="top">
			<td class="topLeft"></td>
			<td class="topCenter"></td>
			<td class="topRight"></td>
		</tr>
	</table>
	<table class="footerMiddle" cellpadding="0" cellspacing="0">
		<tr valign="top">
			<td class="middleLeft"></td>
			<td class="middleCenter" align="center">
				<div class="footerContent">

					<div id="footerNav" class="footerNav">
<span class='footerNavItem' id='footer2'><a hidefocus='true' href='index.ejs'>首页</a></span>
<span class='footerSep'>|</span>
<span class='footerNavItem' id='footer101'><a hidefocus='true' href='contact.html'>关于我们</a></span>
<span class='footerSep'>|</span>
<span class='footerNavItem' id='footer102'><a hidefocus='true' href='aboutus.ejs'>联系我们</a></span>

					</div>

					<div class="footerInfo">
						<font face='Arial'>©</font>2014&nbsp;szpointstart&nbsp;版权所有
					</div>

					<div class="footerSupport">

<span class='footerFaisco'>技术支持：<a hidefocus='true' href='http://www.faisco.com/?_ta=4' onclick='Site.logDog(100065, 0);' target='_blank'>凡科网</a></span>
<span class='footerSep'>|</span>
<span class='footerMobile'><a hidefocus='true' href='http://m.szpointstart.icoc.cc' target='_blank'>手机版</a></span>
<span class='footerSep'>|</span>
<span id='footerLogin' class='footerLogin'><a name='popupLogin' hidefocus='true' href='javascript:;' onclick='Site.popupLogin("http://www.faisco.cn",4351143);Fai.closeTip("#footerLogin");return false;'>管理登录</a></span>

						<span class="bgplayerButton" id="bgplayerButton" style="display:none;"></span>
					</div>
					
					
					
				</div>
			</td>
			<td class="middleRight"></td>
		</tr>
	</table>
	<table class="footerBottom" cellpadding='0' cellspacing='0'>
		<tr valign='top'>
			<td class="bottomLeft"></td>
			<td class="bottomCenter"></td>
			<td class="bottomRight"></td>
		</tr>
	</table>	

</div>

						
					</div>
				</td>
			</tr>
		</table>

		<div class="clearfloat"></div>
	</div>	
</div>


<div class="floatLeftTop">
	<div id="floatLeftTopForms" class="forms sideForms floatForms">
		
	</div>
</div>
<div class="floatRightTop">
	<div id="floatRightTopForms" class="forms sideForms floatForms">
		<div id='module37' _indexClass='formIndex1' class='form  formIndex1 formStyle67' title='' style='position:absolute;top:180px;left:0px;width:180px;' _side='1' _inTab='0' _inMulMCol='0' _autoHeight='1' _global='true' _independent='false' >
<table class='formTop formTop37' cellpadding='0' cellspacing='0'><tr><td class='left'></td><td class='center'></td><td class='right'></td></tr></table>
<table class='formBanner formBanner37' cellpadding='0' cellspacing='0'><tr>
<td class='left left37'></td>
<td class='center center37' valign='top'>
<table cellpadding='0' cellspacing='0' class='formBannerTitle formBannerTitle37'><tr>
<td class='titleLeft titleLeft37' valign='top'>
</td>
<td class='titleCenter titleCenter37' valign='top'>
<div class='titleText titleText37'><span>
分享网站</span></div>
</td>
<td class='titleRight titleRight37' valign='top'>
</td>
</tr></table>
<div class='formBannerOther formBannerOther37'>
<div class='formBannerBtn formBannerBtn37'>
<a hidefocus='true' href='javascript:;' onclick='Site.closeAd("module37");return false;' class='g_close'><span style='_display:none;' >&nbsp;</span></a>
</div>
</div>
</td>
<td class='right right37'></td>
</tr></table>
<table class='formMiddle formMiddle37' cellpadding='0' cellspacing='0'><tr>
<td class='formMiddleLeft formMiddleLeft37'></td>
<td class='formMiddleCenter formMiddleCenter37' valign='top'>
<div class='formMiddleContent formMiddleContent37  '>
<div class='shareInfo'><div class='shareCtrl shareNotTitlePanel shareMt'><a hidefocus='true' title='分享到腾讯微博'  href='javascript:;' onclick='window.open("http://v.t.qq.com/share/share.php?title=%E3%80%90szpointstart%E3%80%91http%3A%2F%2Fwww.szpointstart.icoc.cc%2F%3F_sc%3D1&url=http://www.szpointstart.icoc.cc/?_sc=1&pic=")'><div class='shareIcon qq_weibo'></div><div class='shareCtrl'>腾讯微博</div></a><a hidefocus='true' title='分享到复制网址'  href='javascript:;'  onclick="Site.copyWebSite('http://www.szpointstart.icoc.cc')"><div class='shareIcon copy'></div><div class='shareCtrl'>复制网址</div></a><a hidefocus='true' title='分享到新浪微博'  href='javascript:;' onclick='window.open("http://service.weibo.com/share/share.php?title=%E3%80%90szpointstart%E3%80%91http%3A%2F%2Fwww.szpointstart.icoc.cc%2F%3F_sc%3D1&url=http://www.szpointstart.icoc.cc/?_sc=1&pic=")'><div class='shareIcon sina_weibo'></div><div class='shareCtrl'>新浪微博</div></a><a hidefocus='true' title='分享到QQ空间'  href='javascript:;' onclick='window.open("http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?summary=http%3A%2F%2Fwww.szpointstart.icoc.cc%2F%3F_sc%3D1&url=http://www.szpointstart.icoc.cc/?_sc=1&pics=&title=%E3%80%90szpointstart%E3%80%91")'><div class='shareIcon qq_zone'></div><div class='shareCtrl'>QQ空间</div></a><a hidefocus='true' title='分享到开心网'  href='javascript:;' onclick='window.open("http://www.kaixin001.com/rest/records.php?content=%E3%80%90szpointstart%E3%80%91http%3A%2F%2Fwww.szpointstart.icoc.cc%2F%3F_sc%3D1&style=11")'><div class='shareIcon kaixin001'></div><div class='shareCtrl'>开心网</div></a><a hidefocus='true' title='分享到人人网'  href='javascript:;' onclick='window.open("http://widget.renren.com/dialog/share?resourceUrl=http://www.szpointstart.icoc.cc/?_sc=1&description=http%3A%2F%2Fwww.szpointstart.icoc.cc%2F%3F_sc%3D1&title=%E3%80%90szpointstart%E3%80%91&pic=")'><div class='shareIcon renren'></div><div class='shareCtrl'>人人网</div></a><a hidefocus='true' title='分享到豆瓣网'  href='javascript:;' onclick='window.open("http://shuo.douban.com/!service/share?name=%E3%80%90szpointstart%E3%80%91http%3A%2F%2Fwww.szpointstart.icoc.cc%2F%3F_sc%3D1&text=http://www.szpointstart.icoc.cc/?_sc=1&image=")'><div class='shareIcon douban'></div><div class='shareCtrl'>豆瓣网</div></a><a hidefocus='true' title='分享到淘江湖'  href='javascript:;' onclick='window.open("http://share.jianghu.taobao.com/share/addShare.htm?url=http://www.szpointstart.icoc.cc/?_sc=1&title=%E3%80%90szpointstart%E3%80%91")'><div class='shareIcon taojianghu'></div><div class='shareCtrl'>淘江湖</div></a><a hidefocus='true' title='分享到搜狐微博'  href='javascript:;' onclick='window.open("http://t.sohu.com/third/post.jsp?url=http%3A%2F%2Fwww.szpointstart.icoc.cc%2F%3F_sc%3D1&title=%A1%BEszpointstart%A1%BF")'><div class='shareIcon sohu_weibo'></div><div class='shareCtrl'>搜狐微博</div></a><a hidefocus='true' title='分享到网易微博'  href='javascript:;' onclick='window.open("http://t.163.com/article/user/checkLogin.do?info=%E3%80%90szpointstart%E3%80%91http%3A%2F%2Fwww.szpointstart.icoc.cc%2F%3F_sc%3D1&images=&togImg=true")'><div class='shareIcon netease_weibo'></div><div class='shareCtrl'>网易微博</div></a><a hidefocus='true' title='分享到百度空间'  href='javascript:;' onclick='window.open("http://apps.hi.baidu.com/share/?content=http%3A%2F%2Fwww.szpointstart.icoc.cc%2F%3F_sc%3D1&url=http://www.szpointstart.icoc.cc/?_sc=1&title=%E3%80%90szpointstart%E3%80%91")'><div class='shareIcon baidu_hi'></div><div class='shareCtrl'>百度空间</div></a><a hidefocus='true' title='分享到百度贴吧'  href='javascript:;' onclick='window.open("http://tieba.baidu.com/i/app/open_share_api?comment=&pic=&url=http://www.szpointstart.icoc.cc/?_sc=1&title=%E3%80%90szpointstart%E3%80%91http%3A%2F%2Fwww.szpointstart.icoc.cc%2F%3F_sc%3D1")'><div class='shareIcon baidu_tieba'></div><div class='shareCtrl'>百度贴吧</div></a></div><div class='clearfloat'></div></div></div>
</td>
<td class='formMiddleRight formMiddleRight37'></td>
</tr></table>
<table class='formBottom formBottom37' cellpadding='0' cellspacing='0'><tr><td class='left left37'></td><td class='center center37'></td><td class='right right37'></td></tr></table>
<div class='clearfloat clearfloat37'></div>
</div>


	</div>
</div>
<div class="floatLeftBottom">
	<div id="floatLeftBottomForms" class="forms sideForms floatForms">
		
	</div>
</div>
<div class="floatRightBottom">
	<div id="floatRightBottomForms" class="forms sideForms floatForms">
		
	</div>
</div>


	

	<div id="bgMusic"  class="bgMusic">
	
	</div>


    <script type="text/javascript" src="/js/jquery-core.min.js"></script>
    <script type="text/javascript" src="/js/jquery-mousewheel.min.js"></script>
    <script type="text/javascript" src="/js/fai.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-core.min.js"></script>
    <script type="text/javascript" src="/js/site.min.js"></script>
    <script type="text/javascript" src="/js/2052.min.js"></script>
    <script type="text/javascript" src="/js/ZeroClipboard.min.js"></script>


<script type="text/javascript">
Fai.top = window;
var bgmCloseToOpen = false;
window.onerror = function() {
	if (typeof Site == 'undefined') {
		alert('您的网页未加载完成，请尝试按“CTRL+功能键F5”重新加载。');
	}
};
var _colOtherStyleData = {"y":0,"h":0,"independentList":[],"layout4Width":0,"layout5Width":0};						// 当前页面的数据    
var _templateOtherStyleData = {"h":480,"independentList":[],"y":0,"layout4Width":0,"layout5Width":0};						// 全局的数据   
$(function() {
	if(false){
		Fai.ing("",true);
	}
	//topBarMember 
	
	
	// 管理态下, QQ/微博登陆 禁止登陆
	if( _manageMode ) {
		$('#memberBar .l_Btn').click(function(){
			Fai.ing('您目前处于网站管理状态，请先点击网站右上方的“退出”后再登录会员。', true);
		});
		//绑定放大镜遮罩效果事件
		Site.bindEventToOverLayer();

	}

	
	var faiscoAd = $.cookie('faiscoAd',{path:'/'});
	
	if( true && faiscoAd !== "false" ){
		$(".siteAdvertisement_box").show();
	}

	// 绑定退出事件
	$(window).bind("beforeunload", function(e) { 

		 
			if(bgmCloseToOpen){
				Site.bgmFlushContinue();
			}	

	});
	

	Site.initTemplateLayout(1, true);

	// spider统计
	

	
	// ajax统计
	Site.total({colId:102, pdId:-1, ndId:-1, sc:0, rf:"http://www.szpointstart.icoc.cc/"});
	//保留旧用户的初始化版式区域4 和区域5 中，区域4的padding-right空间
	Site.colLayout45Width();

	Site.initCorpTitleJump();
Site.initBanner({"_open":false}, {"_open":false}, 0);

Site.initModuleBdMap('mapframe',323,'mapPanel.jsp?id=323&w=', false);


	Site.initPage();	// 这个要放在最后，因为模块组初始化时会把一些模块隐藏，导致没有高度，所以要放最后执行

	
	setTimeout("afterModuleLoaded()", 0);

	if (!_oem && _manageMode) {
		Site.siteGuideInit();
		if( false ){
			$.cookie('_loadedRegStatIframe',true,{ expires: 2 });
		}
	}
	
});

function afterModuleLoaded() {
	Site.initPage2();


} // afterModuleLoaded end

var _portalHost = 'www.faisco.cn';

var _lcid = 2052;
var _userHostName = 'www.szpointstart.icoc.cc';
var _siteDomain = 'http://www.szpointstart.icoc.cc';
var _signupDays = 1;
var _cid = 4351143;
var _resRoot = 'http://0.ss.faidns.com';
var _colId = 102;
var _extId = 0;
var _fromColId = -1;
var _designAuth = false;
var _manageMode = false;
var _oem = false;
var _siteAuth = 0;
var _adm = false;
var _siteVer = 10;
var _manageStatus = false;

var nav2SubMenu=[];
var nav21SubMenu=[];
var nav102SubMenu=[];
var nav101SubMenu=[];
var nav9SubMenu=[];

var _customBackgroundData = {"styleDefault":true,"s":true,"h":false,"r":3,"o":"","sw":-1,"e":0,"wbh":-1,"wbw":-1,"clw":-1,"crw":-1,"id":"","p":"","bBg":{"y":0,"r":3,"f":"","p":"","c":"#000"},"cBg":{"y":0,"r":3,"f":"","p":"","c":"#000"},"cmBg":{"y":0,"r":3,"f":"","p":"","c":"#000"}};          //自定义的数据
var _templateBackgroundData = {"styleDefault":true,"s":true,"h":false,"r":3,"o":"","sw":-1,"e":0,"wbh":-1,"wbw":-1,"clw":-1,"crw":-1,"id":"","p":"","bBg":{"y":0,"r":3,"f":"","p":"","c":"#000"},"cBg":{"y":0,"r":3,"f":"","p":"","c":"#000"},"cmBg":{"y":0,"r":3,"f":"","p":"","c":"#000"}};// 模版的数据
var _useTemplateBanner = true;				// 是否使用全局模版
var _templateBannerData = {"ce":{},"pl":0,"l":[{"i":"ABUIABACGAAgwJ_llQUopIjO4QYwgA84wgM","p":"http://320.s21i-2.faidns.com/2379320/2/ABUIABACGAAgwJ_llQUopIjO4QYwgA84wgM.jpg","w":1920,"h":450,"tp":"http://320.s21i-2.faidns.com/2379320/2/ABUIABACGAAgwJ_llQUopIjO4QYwgA84wgM!100x100.jpg"}],"s":0,"i":4000,"a":1500,"h":false,"o":false,"t":1,"p":0,"pt":0,"bt":1,"f":{},"n":[],"c":3};		// 模版的数据
var _pageBannerData = {"s":0,"i":4000,"a":1500,"h":false,"o":false,"t":1,"p":0,"pt":0,"pl":0,"bt":1,"l":[],"f":{},"ce":{},"n":[],"c":3};					// 当前页面的自定义数据（页面独立样式设置）
var _bannerData = _templateBannerData;


var _aid = 4351143;
var _templateLayout = 1;
var _webBannerHeight = -1;
</script>

</body>
</html>


